body{
    margin: 0 auto;
}

.container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.square {
    height: 60px;
    width: 60px;
    border: solid black 2px;
    box-sizing: border-box;
}